@{
    ViewBag.Title = "title";
    ViewData["ActiveData"] = "AdminArticle"; // see SideBarPage in Views/Shared/SideBarPage.cs
    Layout = "_AdminLayout";
}

@section ExternalCss {
    <!-- Vditor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor/dist/index.css" />
    <!--bootstrap-select-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css"/>
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Article</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Article">Home</a></li>
                    <li class="breadcrumb-item active">Article</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="row">
        <div class="input-group col">
            <div class="input-group-prepend" style="border: 1px solid #ced4da;">
                <select class="selectpicker" data-width="fit">
                    <option>原创</option>
                    <option>转载</option>
                </select>
            </div>
            <input type="text" class="form-control" placeholder="Title" style="height: 100%;" />
        </div>
    </div>
    <div style="margin: 10px auto;"></div>
    <div id="vditor"></div>
    <div class="row" style="margin-top: 10px;">
        <div class="input-group col">
            <div class="input-group-prepend">
                <span class="input-group-text">分类</span>
            </div>
            <div style="border: 1px solid #ced4da; flex-grow: 1;">
                <select class="selectpicker form-control" data-live-search="true">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
            </div>
        </div>
        <div class="input-group col">
            <div class="input-group-prepend">
                <span class="input-group-text">标签</span>
            </div>
            <div style="border: 1px solid #ced4da; flex-grow: 1;">
                <select class="selectpicker form-control" multiple data-live-search="true">
                    <option data-content="<span class='badge badge-success'>A</span>">A</option>
                    <option data-content="<span class='badge badge-success'>B</span>">B</option>
                    <option data-content="<span class='badge badge-success'>C</span>">C</option>
                </select>
            </div>
        </div>
    </div>

    <div style="display: flex; flex-direction: row-reverse; padding: 10px 0;">
        <button type="button" class="btn btn-primary">提交</button>
    </div>
</div>
<!-- /.content -->

@section ExternalScript {
        <!-- Vditor -->
        <script src="https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js"></script>
        <script src="@Url.Content("~/js/vditor.js")"></script>
        <!-- Bootstrap-select -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
        <script>
            $('select').selectpicker();
        </script>
}
